@charset "UTF-8";
 @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

    .coupon {
      display: flex;
      width: 223.161px;   /* 169.344 + 53.817 */
      height: 94px;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 1.435px 3.588px 0 rgba(0,0,0,0.15);
      font-family: 'Noto Sans KR', sans-serif;
    }

    /* 흰색 영역 */
    .coupon-left {
      width: 169.344px;
      height: 94px;
      background: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .amount {
      color: #232323;
      font-size: 36px;
      font-weight: 700;
      line-height: 1; /* 줄간격 딱 맞춤 */
      letter-spacing: -0.7px;
    }

    .date {
      margin-top: 8px;
      color: #6C6C6C;
      font-size: 9px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.1px;
    }

    /* 초록색 영역 */
    .coupon-right {
      width: 53.817px;
      height: 94px;
      background: #2DB563;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .coupon-right span {
      color: #fff;
      font-size: 8px;
      font-weight: 400;
      letter-spacing: 1.4px;
      transform: rotate(-90deg);
      transform-origin: center;
      white-space: nowrap;
      text-align: center;
    }