@charset "UTF-8";

.custom-select,
.select-header,
.select-list {
  box-sizing: border-box;
}

.custom-select {
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
	cursor: pointer;
	outline: none;
}

/* 헤더 (라벨 + 화살표) */
.select-header {
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: space-between;
	padding: 4px 16px;
	align-items: center;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid #DDE1EB;
	background: #FFF;
	transition: border 0.2s, box-shadow 0.2s;
	color: #23262A;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	white-space: nowrap;
}

.custom-select.open .select-header {
	border-color: #0C8CE9;
	box-shadow: 0 0 0 4px rgba(2, 149, 254, 0.25);
}

/* 아이콘 회전 */
.select-header i {
	transition: transform 0.3s ease;
}

.custom-select.open .select-header i {
	transform: rotate(180deg);
}

/* 드롭다운 리스트 */
.select-list {
	width: 100%;
	display: none;
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	right: 0;
	background: #fff;
	border: 1px solid #DDE1EB;
	border-radius: 8px;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 10;
	overflow: hidden;
}

.custom-select.open .select-list {
	display: block;
}

/* 아이템 스타일 */
.select-item {
	width: 100%;
	display: flex;
	padding: 0 20px;
	align-items: center;
	min-height: 56px;
	color: #60656E;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: background 0.2s;
	min-height: 56px;
}

.select-item:hover {
	background: #F1F9FF;
}

/* small */
.custom-select.sm {
	width: 140px;
	height: 32px;
}

.custom-select.sm .select-header {
	font-size: 13px;
}

/* medium */
.custom-select.md {
	width: 225px;
	height: 40px;
}

.custom-select.md .select-header {
	font-size: 14px;
}

/* large */
.custom-select.lg {
	width: 240px;
	height: 54px;
}

.custom-select.lg .select-header {
	font-size: 16px;
}