@charset "UTF-8";
.tag {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 9999px;
  white-space: nowrap;
  text-align: center;
  font-style: normal;
  line-height: 18px;
  font-weight: 500;
}

/* -------- 사이즈 (3종) -------- */
.tag.sm {
  max-height: 22px;
  font-size: 12px;
  padding: 2px 10px;
}

.tag.md {
  max-height: 24px;
  font-size: 14px;
  padding: 3px 12px;
}

.tag.lg {
  max-height: 26px;
  font-size: 14px;
  padding: 4px 14px;
}

/* -------- 색상 (5종) -------- */
.tag.red {
  background-color: #fef2f2;
  color: #dc2626;
}

.tag.yellow {
  background-color: #FFFBEB;
  color: #d97706;
}

.tag.blue {
  background-color: #EEF2FF;
  color: #4F46E5;
}

.tag.green {
  background-color: #ECFDF5;
  color: #059669;
}

.tag.gray {
  background-color: #F3F4F6;
  color: #374151;
}
