:root {
    --active-border: #007bff;
    --active-bg: rgba(76, 146, 250, 0.616);
    /* --hover-border: #343a40; */
    --item-size-w: 30px; /* box width */
    --item-size-h: 30px; /* box height */
    --gap: 8px;
    --font-sz: 14px;
}



.pg_nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 6px;
    /* cursor: pointer; */
    background: transparent;
    border: none;
    font-size: 14px;
}
.pg_nav:hover {
    outline: 1px solid rgba(0, 0, 0, 0.08);
}

.pages {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.page_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--item-size-w);
    height: var(--item-size-h);
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--font-sz);
    line-height: 1; /* 숫자 크기와 줄높이를 분리 */
    box-sizing: border-box;
    /* transition: all 120ms ease; */
    background: transparent;
    border: none;
    text-align: center;
    color: var(--dark);
}

.page_item:hover {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0 6px;
}

.page_item.active {
    border: 1px solid var(--active-border);
    background-color: var(--active-bg);
}

.dots {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--item-size-w);
    height: var(--item-size-h);
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--font-sz);
}
