/* **************************** */
/*  리스트화면 탭메뉴              */
/* **************************** */
.listTabs {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #eee;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    font-size: 16px;
}

.listTab  {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.listTab.active {
    border-bottom: 3px solid #e0aaff;
    font-weight: bold;
    color: #d63384;
}

.main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



