/* **************************** */
/*  리스트화면 탭메뉴              */
/* **************************** */
.tabs {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #eee;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    font-size: 16px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tab.active {
    border-bottom: 3px solid #e0aaff;
    font-weight: bold;
    color: #d63384;
}

.content > div.tab_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.tab_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ********************* */
/* 상세보기 화면 탭        */
/* ********************* */
.content > .info_tab > .tabs {
    width: 100%;
    border-bottom: 1px solid #d63384;
}

.content > .info_tab > .tabs > .tab {
    width: 100%;
    text-align: center;
}

.content > .info_tab > .tabs > .tab.active {
    border-bottom: none;
    font-weight: bold;
    background-color: #d6338454;
}
