@charset "UTF-8";

.admin-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	padding: 0 16px;
}

/* 아이콘 버튼 (알림, 프로필) */
.admin-header .icon-btn {
	background: transparent;
	border: none;
	cursor: pointer;
}

.admin-header .icon-btn i {
	font-size: 20px;
	color: rgba(75, 75, 75, 1);
	text-shadow: 0 0 0.5px rgba(75, 75, 75, 1);
	transition: color 0.2s ease;
}

/* 프로필 아이콘만 크게 */
.icon-btn[title="내 프로필"] i {
	font-size: 22px;
}

.admin-header .icon-btn:hover i {
	color: #0C8CE9;
}