@charset "UTF-8";

.category-filter {
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	border: 1px solid rgba(0, 0, 0, 0.10);
	gap: 1px;
	background: rgba(0, 0, 0, 0.1);
	display: grid;
}

.category-filter.none {
	display: none;
}

.category-item {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 50px;
	padding: 12px 12px 12px 8px; align-items : center;
	flex-shrink: 0;
	border: none;
	border-radius: 1px;
	background: #FFF;
	transition: background 0.2s ease, border 0.2s ease;
	font-family: 'Noto Sans KR', sans-serif;
	color: #333;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	align-items: center;
	height: 40px;
    box-sizing: border-box;
}

.category-item:hover {
	font-weight: 700;
}

.category-item.selected {
	background: rgba(242, 179, 196, 0.70);
	font-weight: 700;
}

.category-item.empty {
	pointer-events: none;
	cursor: default;
}