@charset "UTF-8";

/* 다이얼로그 컨테이너 (기본 숨김) */
.modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 1000;
	font-family: 'Noto Sans KR', sans-serif;
}

.modal.show {
	display: block; /* JS에서 .show 클래스를 붙이면 표시됨 */
}

/* 배경 오버레이 (회색 반투명) */
.modal-overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.45);
}

/* 다이얼로그 박스 */
.modal-content {
	position: relative;
	width: 100%;
	max-width: 328px;
	margin: 100px auto;
	background: #fff;
	border-radius: 16px;
	padding: 8px 0 0 0;
	box-shadow: 0 8px 36px rgba(0, 0, 0, 0.16);
	animation: fadeIn 0.2s ease;
}

/* 제목 */
.modal-title {
	display: flex;
	padding: 16px 24px;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	font-size: 19px;
	font-weight: 700;
	color: #000;
}

/* 서브 제목 */
.modal-subTitle {
	display: flex;
	padding: 0 24px 8px 24px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-self: stretch;
	color: rgba(21, 25, 32, 0.50);
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.modal-subTitle span {
	font-weight: 700;
}


/* 본문 */
.modal-body {
	display: flex;
	padding: 8px 24px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

/* label + input 세트*/
.form-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.form-row-label {
	color: #000;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.form-row .radio-wrapper {
	display: flex;
	gap: 40px;
}
.form-row .radio-wrapper label {
	display: flex;
	gap: 8px;
}

.form-row .date-input,
.form-row .date-input .input-wrapper,
.form-row .date-input .date-text {
	width: 100%;
}

/* 버튼 영역 */
.modal-footer {
	display: flex;
	padding: 16px 24px 24px 24px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.modal-footer .btn {
	width: 100%;
}