@charset "UTF-8";

.event-card {
	display: block;
	width: 324px;
	flex-direction: column;
	text-decoration: none;
	align-items: flex-start;
	gap: 16px;
	font-family: "Noto Sans KR", sans-serif;
}

/* 이미지 영역 */
.event-image {
	position: relative;
}

.event-image img.finished {
	filter: grayscale(80%);
}

.event-image img {
	display: block;
	border-radius: 6px;
}

.event-tag {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 2;
}

/* 정보 영역 */
.event-card .event-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	margin-top: 10px;
}

/* 이벤트 제목 */
.event-card .event-title {
	color: #111;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

/* 이벤트 날짜 */
.event-card .event-date {
	color: #666;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
}
