@charset "UTF-8";

.image-button {
	width: 72px; /* 원하는 크기 */
	height: 72px; /* 높이도 동일하게 */
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

.image-button .image-placeholder {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.10);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #fff;
	box-sizing: border-box;
}

.image-button .plus {
	font-size: 32px;
	color: rgba(0, 0, 0, 0.10);
}

.image-button .image-preview {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.image-button .image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	
}

.image-button .remove-btn {
	position: absolute;
	top: 4px;
	right: 4px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}