.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

/* 정보수정 & 로그아웃 팝업 */
.loginInfo {
    width: 205px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info > img {
    width: 40px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 10px 5px;
}

.info > span {
    line-height: 50%;
    cursor: default;
    /* font-family: "Pretendard"; */
}
.modifyInfo,
.logout {
    width: 95%;
}
.modifyInfo > button {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.logout > button {
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.modifyInfo > button:hover,
.logout > button:hover {
    background-color: #d9d9d9;
}
/* 정보수정 & 로그아웃 팝업 end */
