@charset "UTF-8";
.page-header {
	width: 100%;
	padding: 30px 0;
	align-items: center;
	background: #F2EBF1;
	font-family: "Noto Sans KR", sans-serif;
}

.page-header .header-content {
	display: flex;
}

.page-header .title-group {
	display: flex;
	align-items: flex-end;
	gap: 24px;
	flex: 1 0 0;
}

/* 제목 */
.page-header h2 {
	color: #000;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -1.2px;
}

/* 설명 텍스트 */
.page-header .description {
	color: #333;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.54px;
	flex: 1 0 0;
}

/* 버튼 스타일 */
.page-header .header-btn {
	display: flex;
	padding: 12px 28px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #0C8CE9;
	background: #FFF;
	
	color: #0C8CE9;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 0.091px;
}

/* 검색 결과 모드 */
.page-header.search-mode {
  background: #fff;
}

.page-header.search-mode .highlight {
  color: #6113A1;
}

/* 텍스트만 모드 */
.page-header.text-only {
  background: #fff;
}
