@charset "UTF-8";
.product-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 8px;
  font-family: "Noto Sans KR", sans-serif;
}

/* -------- 상품 이미지 영역 -------- */
.product-card .product-image {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- 찜 버튼 -------- */
.product-card .wishlist-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

/* -------- 브랜드명 & 상품명 영역 -------- */
.product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* -------- 브랜드명 -------- */
.product-card .product-brand {
  font-size: 15px;
  color: #777;
}

/* -------- 상품명 -------- */
.product-card .product-title {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* -------- 태그 영역 -------- */
.product-card .product-tags {
  display: flex;
  gap: 2px;
}
