@charset "UTF-8";
.recommendation-section-title {
  display: flex;
  width: 100%;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}

.recommendation-section-title .title {
	color: #111;
	text-align: center;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.148px;
}

.recommendation-section-title .more {
  	color: #AAA;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.085px;
	text-decoration: none;
}

.recommendation-section-title .more:hover {
  color: #111;
}

.recommendation-section-title .more span {
  font-size: 14px;
}
