@charset "UTF-8";

.recommendation-section-title {
	position: relative;
	display: flex;
	justify-content: flex-end; /* 더보기는 오른쪽 */
	align-items: center;
	padding: 40px 0;
}

.recommendation-section-title .title {
	color: #111;
	text-align: center;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.148px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /* 정확히 가운데 */
}

.recommendation-section-title .more {
	color: #AAA;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.085px;
	text-decoration: none;
}

.recommendation-section-title .more:hover {
	color: #111;
}

.recommendation-section-title .more span {
	font-size: 14px;
}