.review-summary {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: 0 0 30px 0;
}

.summary-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	width: 120px;
}

.avg-score {
	font-size: 32px;
	font-weight: bold;
	color: #333;
}

.total-count {
	font-size: 12px;
	color: #888;
}

.summary-right {
	display: flex;
	align-items: flex-end; /* 막대 밑변 정렬 */
	gap: 12px; /* 막대 간격 */
	flex: 1;
}

.bar-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.bar-col span {
	color: #777;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 150% */
}

.bar {
	width: 8px; /* 세로 막대 두께 */
	height: 100px; /* 막대 전체 높이 */
	border-radius: 5px;
	background: rgba(230, 230, 230, 1);
	overflow: hidden;
	display: flex;
	align-items: flex-end; /* fill이 아래에서 차오르게 */
}

.bar .fill {
	width: 100%;
	background: #FFF0BB;
	transition: height 0.3s;
}