.product-item {
	display: flex;
	padding: 12px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid #DDE1EB;
	background: #FFF;
}

.item-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.product-name {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	line-height: 120%;
}

.quantity-control {
	display: flex;
	padding: 2px 12px;
	justify-content: center;
	align-items: center;
	gap: 3px;
	border-radius: 8px;
	border: 1px solid #D9D9D9;
	background: #FFF;
}

.quantity-control button {
	width: 28px;
	height: 28px;
	background: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quantity-control .quantity-input {
	width: 30px;
	text-align: center;
	padding: 4px 0;
	border-radius: 4px;
	border: 1px solid #D9D9D9;
}

.product-price {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	display: flex;
	align-items: center;
	gap: 8px;
}

.product-price .btn-remove {
	background: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color: #777;
	display: flex;
	align-items: center;
	justify-content: center;
}