@charset "UTF-8";

.sort-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-top: 4px solid rgba(0, 0, 0, 0.10);
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	padding: 4px 0 8px 0;
	height: 50px;
	box-sizing: border-box;
}

/* 좌측 버튼들 */
.sort-options {
	display: flex;
	align-items: center;
	flex: 1 0 0;
}

.sort-item {
	display: flex;
	width: 110px;
	margin: 10px 0;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background: none;
	transition: color 0.2s ease;
	border-right: 1px solid rgba(0, 0, 0, 0.10);
	font-family: 'Noto Sans KR', sans-serif;
	color: #999;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.sort-item.last {
	border: none;
}

.sort-item:hover {
	color: #111;
	font-weight: 600;
}

.sort-item.selected {
	color: #111;
	font-weight: 600;
}