<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<settings>
		<!-- 언더스코어 → 카멜 자동 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>
        
	<!-- mapper.xml의 parameterType에 쓸 별칭 지정 -->
	<typeAliases>
		<typeAlias type="dto.AdminInfo" alias="adminInfo" />
		<typeAlias type="dto.AdminPayment" alias="adminPayment" />
		<typeAlias type="dto.Banner" alias="banner" />
		<typeAlias type="dto.Brand" alias="brand" />
		<typeAlias type="dto.BrandFollow" alias="brandFollow" />
		<typeAlias type="dto.Cancel" alias="cancel" />
		<typeAlias type="dto.CartItem" alias="cartItem" />
		<typeAlias type="dto.Category" alias="category" />
		<typeAlias type="dto.CodeDetail" alias="codeDetail" />
		<typeAlias type="dto.CodeMaster" alias="codeMaster" />
		<typeAlias type="dto.Coupon" alias="coupon" />
		<typeAlias type="dto.Event" alias="event" />
		<typeAlias type="dto.EventApplication" alias="eventApplication" />
		<typeAlias type="dto.EventProduct" alias="eventProduct" />
		<typeAlias type="dto.Exchange" alias="exchange" />
		<typeAlias type="dto.MailSend" alias="mailSend" />
		<typeAlias type="dto.Member" alias="member" />
		<typeAlias type="dto.MemberCoupon" alias="memberCoupon" />
		<typeAlias type="dto.Membership" alias="membership" />
		<typeAlias type="dto.MembershipPlan" alias="membershipPlan" />
		<typeAlias type="dto.MemberSkinIssue" alias="memberSkinIssue" />
		<typeAlias type="dto.Notice" alias="notice" />
		<typeAlias type="dto.OrderItem" alias="orderItem" />
		<typeAlias type="dto.Orders" alias="orders" />
		<typeAlias type="dto.Payment" alias="payment" />
		<typeAlias type="dto.Point" alias="point" />
		<typeAlias type="dto.Product" alias="product" />
		<typeAlias type="dto.ProductFilterMap" alias="productFilterMap" />
		<typeAlias type="dto.ProductOption" alias="productOption" />
		<typeAlias type="dto.Qna" alias="qna" />
		<typeAlias type="dto.Report" alias="report" />
		<typeAlias type="dto.Returns" alias="returns" />
		<typeAlias type="dto.Review" alias="review" />
		<typeAlias type="dto.Settlement" alias="settlement" />
		<typeAlias type="dto.Ticket" alias="ticket" />
		<typeAlias type="dto.UploadFile" alias="uploadFile" />
		<typeAlias type="dto.Wishlist" alias="wishlist" />
		<typeAlias type="dto.admin.SearchConditionDTO" alias="searchCondition" />
		<typeAlias type="dto.consumer.ProductPlan" alias="productPlan" />
		<typeAlias type="dto.consumer.ProductRank" alias="productRank" />
		<typeAlias type="dto.consumer.ProductSale" alias="productSale" />
		<typeAlias type="dto.consumer.ProductSaleExclusive" alias="productSaleExclusive" />
		<typeAlias type="dto.consumer.ProductCategory" alias="productCategory" />
		<typeAlias type="dto.brand.ProductList" alias="productList" />
		<typeAlias type="dto.brand.ProductDetail" alias="productDetail" />
		<typeAlias type="dto.brand.OrdersList" alias="ordersList" />
		<typeAlias type="dto.brand.OrdersSummary" alias="ordersSummary" />
		<typeAlias type="dto.brand.OrdersItemDetail" alias="ordersItemDetail" />
		<typeAlias type="dto.brand.OrdersDetail" alias="ordersDetail" />
		<typeAlias type="dto.brand.OrdersCoupon" alias="ordersCoupon" />
		<typeAlias type="dto.brand.MemberQnaList" alias="memberQnaList" />
		<typeAlias type="dto.brand.ReviewList" alias="reviewList" />
		<typeAlias type="dto.brand.ShippingList" alias="shippingList" />
		<typeAlias type="dto.brand.ShippingDetailItem" alias="shippingDetailItem" />
		<typeAlias type="dto.brand2.BannerList" alias="bannerList" />
		<typeAlias type="dto.brand2.BannerForm" alias="bannerForm" />
		<typeAlias type="dto.brand2.AdminToss" alias="adminToss" />
		<typeAlias type="dto.brand2.MembershipList" alias="membershipList" />
		<typeAlias type="dto.brand2.EventList" alias="eventList" />
		<!-- type="" : 패키지명.클래스명, alias="" : 별칭 -->
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url"
					value="jdbc:mariadb://localhost:3306/amaradazzle" />
				<property name="username" value="root" />
				<property name="password" value="7564" />
				<property name="poolMaximumActiveConnections" value="500" />
				<property name="poolMaximumIdleConnections" value="500" />
			</dataSource>
		</environment>
	</environments>
	

	<mappers>
		<mapper resource="mapper/adminInfo.xml" />
		<mapper resource="mapper/adminPayment.xml" />
		<mapper resource="mapper/banner.xml" />
		<mapper resource="mapper/brand.xml" />
		<mapper resource="mapper/brandFollow.xml" />
		<mapper resource="mapper/cancel.xml" />
		<mapper resource="mapper/cartItem.xml" />
		<mapper resource="mapper/category.xml" />
		<mapper resource="mapper/codeDetail.xml" />
		<mapper resource="mapper/codeMaster.xml" />
		<mapper resource="mapper/coupon.xml" />
		<mapper resource="mapper/event.xml" />
		<mapper resource="mapper/eventApplication.xml" />
		<mapper resource="mapper/eventProduct.xml" />
		<mapper resource="mapper/exchange.xml" />
		<mapper resource="mapper/mailSend.xml" />
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/memberCoupon.xml" />
		<mapper resource="mapper/membership.xml" />
		<mapper resource="mapper/membershipPlan.xml" />
		<mapper resource="mapper/memberSkinIssue.xml" />
		<mapper resource="mapper/notice.xml" />
		<mapper resource="mapper/orderItem.xml" />
		<mapper resource="mapper/orders.xml" />
		<mapper resource="mapper/payment.xml" />
		<mapper resource="mapper/point.xml" />
		<mapper resource="mapper/product.xml" />
		<mapper resource="mapper/productFilterMap.xml" />
		<mapper resource="mapper/productOption.xml" />
		<mapper resource="mapper/qna.xml" />
		<mapper resource="mapper/report.xml" />
		<mapper resource="mapper/returns.xml" />
		<mapper resource="mapper/review.xml" />
		<mapper resource="mapper/settlement.xml" />
		<mapper resource="mapper/ticket.xml" />
		<mapper resource="mapper/uploadFile.xml" />
		<mapper resource="mapper/wishlist.xml" />
	</mappers>

</configuration>