section.board_detailview > .brand_info {
    display: grid;
    gap: 15px;
}

div.part_section.manager_part .part_content {
    display: flex;
    /* align-items: center; */
}
div.part_section.manager_part .part_content input[name="manager_phone"] {
    width: 50%;
    /* margin-left: 5px; */
}

div.part_section.manager_part .part_content input[name="manager_name"],
div.part_section.pay_part .part_content input[name="pay_amount"],
div.part_section.bottom_part .part_content input[name="adm_name"] {
    width: 40%;
    margin-right: 5px;
}

section.board_detailview .message_part .part_content div {
    border: 1px solid var(--outerbox);
    border-radius: 10px;
}

div.part_section.message_part .part_content div,
div.part_section.pCate_part .part_content div,
div.part_section.pCate_part .part_content div,
div.part_section.content_part .part_content div {
    width: 100%;
    min-height: 40px;
    border: 1px solid var(--innerbox);
    border-radius: 5px;
}

div.part_section.thumb_part .part_content div {
    min-width: 50%;
    min-height: 40px;
    border: 1px solid var(--innerbox);
    border-radius: 5px;
}
