section.board_detailview .brand_info {
    display: grid;
    gap: 15px;
}

div.part_section.manager_part .part_content {
    display: flex;
    /* align-items: center; */
}

.part_content input[name="managerName"] {
	width : 100%;
    margin-right: 5px;
}
.part_content input[name="payAmount"],
.part_content input[name="bannerPeriod"] {
	width : 50%;
	margin-right: 15px;
}

.part_content .content_part {
	min-height : none;
}

.thumb_part .part_content {
	flex-direction: column;
	align-items: flex-start;
}
.part_content .img_content {
	width : 100%;
}
.part_content .text_content {
	width : 100%;
	text-align: left;
	margin-top: 5px;
	box-sizing: border-box;
}
.text_content a {
	font-size : 16px;
	color: #333539;
}

img {
	width: 100%;
  	object-fit: cover;
	
}

.part_content .link_part {
	height : 44px; 
	width: 100%;
	border: 1px solid #DDE1EB;
	border-radius: 3px;
	font-style: normal;
	line-height : 44px;
	padding: 0 10px;
	box-sizing: border-box;
}

.part_content .link_part a {
	text-decoration: none;
	font-size : 16px;
	color: #333539;
}







