section.board_detailview {
    width: 750px; /* 50% */
    border: 1px solid var(--outerbox);
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    display: grid;
    gap: 15px;
}

section.board_detailview div.part_section {
    width: 100%;
    /* height: 45px; */
    display: flex;
    align-items: center;
}

section.board_detailview div.part_content {
    display: flex;
    align-items: center;
    width: 565px;
}

section.board_detailview div.part_section .part_title {
    /* font-size: 16px; */
    width: 185px;
}

.part_content input[type="text"] {
    height: 30px;
    width: 100%;
}

section.board_detailview div.part_section .part_content .content_part {
    border: 1px solid var(--outerbox);
    border-radius: 5px;
    width: 100%;
    height: auto;
    min-height : 500px;
    padding : 10px;
}

section.board_detailview div.part_section.bottom_part .part_content {
    display: flex;
    justify-content: space-between;
}
