div.part_section .part_content {
    display: flex;
    align-items: center;
}

input[name="couponAmount"] {
    width: 30%;
}

.part_content input[name="couponName"],
.part_content input[name="couponExp"],
.part_content input[name="couponCondition"],
.part_content input[name="couponQuantity"],
.part_content input[name="memberId"] {
    margin-right: 5px;
}
.part_content .filter_box {
    margin-right: 10px;	
}

div.part_section.writer_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

/* .custom-select.md { */
/* 	width : 100px; */
/* } */


/* 버튼 그룹 */
.filter-btn-group {
	display: inline-flex;
	border: 1px solid #DDE1EB;
	border-radius: 10px;
	overflow: hidden;
}

/* 개별 버튼 */
.filter-btn-group .filter-btn {
	border: none;
	border-right: 1px solid #DDE1EB;
	background: #fff;
	padding: 0 20px;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	cursor: pointer;
}

/* 마지막 버튼은 구분선 제거 */
.filter-btn-group .filter-btn:last-child {
	border-right: none;
}

.filter-btn-group .filter-btn:hover {
	background: #f7f7f9;
}

.filter-btn-group .filter-btn.active {
	background: #F1F9FF;
	font-weight: 700;
}

.main_content.coupon_detail {
	width : 80%;
	margin : 0 auto;
}

.custom-select.lg#cpList {
 width : 95%;
}

div.no_condition {
	display:flex;
	
}

.date-input .input-wrapper {
 	width :130px; 
}
