@charset "UTF-8";

.titlePart {
	display: flex;
}

.thumbImgPart {
	width: 30%;
}

.contentPart {
	width: 70%;
	margin-left : 20px;
	border : 1px solid #D9D9D9;
	border-radius : 5px;
	padding : 10px;
}

.mainContentPart {
	width: 100%; 
	display : flex;
	align-items: center;
	justify-content: center;
}

.thumbImgPart img,
.mainContentPart img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}