.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content section.main_content {
    width: 80%;
    display: grid;
    gap: 15px;
}

input[type="text"]{
/* 	 width: 100%; */
	height : 44px;
}
.part_content .filter_box {
	display: flex;
	align-items: center;
	gap : 5px;
}

.preset-buttons {
	gap:5px;
}

.select_cate {
	display : flex; 
	align-items: center;
	gap : 5px;
}

