.content > .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.content > .profile > .info_table {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_table th {
	border-right: 1px solid #eee;
}

#conRvTbl > tr[data-main="true"] > td {
    border-bottom: none;
}
.question_detail > td {
    border-top: 1px solid #eee;
}
