/* ********************* */
/* 디테일 상단  판매자정보        */
/* ********************* */
.content>.profile {
	display: flex;
	padding: 10px;
	margin-bottom: 10px;
}

.content>.profile>.info_image {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.info_image>.thumbnail {
	width: 50%;
	aspect-ratio: 1/1;
	border: 1px solid var(--outerbox);
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.info_image>.brandStoreBtn {
	width: 50%;
	aspect-ratio: 16/3;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.info_image>.brandStoreBtn>.goStoreBtn {
	width: 100%;
	background: transparent;
	margin: 0;
	border: 1px solid var(--mainColor);
	color: var(--mainColor);
}

.info_image>.brandStoreBtn>.goStoreBtn:hover {
	border: 1px solid var(--hoverColor);
	background: var(--hoverColor);
	color: var(--base);
	transition: background 0.5s ease;
}

.info_image>.brandStoreBtn>.goStoreBtn:active {
	background: var(--clicked);
}

.content .profile .info_table {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}