@charset "UTF-8";
html,
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

