@charset "UTF-8";

/* ==================================== */
/*	 헤더                                */
/* ==================================== */
.header {
	border-bottom: 1px solid var(--outerbox);
	margin: 0;
	padding: 5px 16px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: var(--base);
	gap: 5px;
	z-index: 9999;
	align-self: stretch;
}

.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown_myinfo {
  position: relative;
  display: inline-block;
}

.header .icon-btn {
	background: transparent;
	border: none;
	cursor: pointer;
}

.header .icon-btn i {
	font-size: 20px;
	color: rgba(75, 75, 75, 1);
	text-shadow: 0 0 0.5px rgba(75, 75, 75, 1);
	transition: color 0.2s ease;
	cursor: pointer;
}

/* 프로필 아이콘만 크게 */
.icon-btn[title="내 프로필"] i {
	font-size: 22px;
	position: relative;
}

.header .icon-btn:hover i {
	color: var(--mainColor);
}

/* 사이트 바로가기 버튼 */
.header button.link-btn {
	padding: 5px;
	border: 1px solid var(--mainColor);
	border-radius: 5px;
	color: var(--mainColor);
	margin-left: 10px;
	cursor: pointer;
	background: rgba(255,255,255,0); /* 투명한 기본 상태 */
	transition: background 0.5s ease;
}

.header button.link-btn:hover {
	background: var(--mainColor);
	color: var(--base);
	transition: background 0.5s ease;
}

.header button.link-btn:active {
	background: var(--clicked);
	border: 1px solid var(--clicked);
	color: var(--base);
}