@charset "UTF-8";




/* ==================================== */
/*	 사이드바                             */
/* ==================================== */
.sidebar {
	width: 245px;
	background-color: var(--sidebar);
	transition: width 0.5s;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-self: flex-start; /* flex 컨테이너에서 sticky가 먹히게 */
	justify-content: space-between;
}


.sidebar::-webkit-scrollbar {
	display: none;
}

/* 사이드바 접힌 상태 */
.sidebar.collapsed {
	width: 60px;
}


/* 접힘 상태 - 글자 숨김을 opacity/visibility로 */
.sidebar.collapsed .menu-text {
	opacity: 0;
	visibility: hidden;
	width: 0;
	transition: opacity 0.2s ease, width 0.2s ease;
}


/* 접힘 상태에서는 텍스트, 서브메뉴 전부 숨김 */
.sidebar.collapsed .menu-text, .sidebar.collapsed .submenu {
	display: none !important;
}



/* 접힘 상태에서는 화살표 아이콘 숨김 */
.sidebar.collapsed .submenu-icon {
	display: none !important;
}


/* ==================================== 
	사이드바  아이템                    
==================================== */
.sidebar_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	height: 40px;
	box-sizing: border-box;
}

.logo {
	margin: 0;
	width: 85%;
	z-index: 999;
}

.logo>.logo_img {
	transition: none !important;
	/* 부모가 줄어도 같이 안 줄도록 */
	flex-shrink: 0;
	height: 55px;
	background-size: 95%;
	background-repeat: no-repeat;
	margin-left: 5px;
}

.logo>.logo_collapsed {
	aspect-ratio: 1/1;
	background-image: url("../image/logo_white.svg");
}

.logo>.logo_expanded {
	background-image: url("../image/logo_white_sidelower.svg");
}

.logo_collapsed, .logo_expanded {
	background-size: contain;
}

/* 토글 버튼 */
#toggleBtn {
	/* position: absolute; */
	/* top: 10px; */
	/* left: 10px; */
	z-index: 100;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	color: var(--base);
	border: none;
	font-size: 18px;
}

/* ******* 메뉴 아이템 ******* */
.menus {
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	align-items: center; */
/* 	height: 87%; */
	padding: 0;
	margin: 0;
	flex: 1;
}

.menu-item {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	width: 85%;
	margin : 2px auto;
}

.menu-link {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 18px;
	color: var(--base);
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 8px;
	background: transparent;
	border: none;
	height: 50px;
	transition: background 0.2s, color 0.2s;
}

.menu-link:hover {
/* 	background: #444; */
	background : var(--hovermenu);
	color: var(--hoversubfont);
	font-weight: 600;
}






.menu-text {
	opacity: 1;
	white-space: nowrap;
    overflow: hidden;
    transition: width 0.3s, opacity 0.3s;
}

.submenu-icon {
	margin-left: auto;
	transition: transform 0.3s ease;
}

/* 열릴 때 아이콘 회전 */
.menu-item.open .menu-link .submenu-icon {
	transform: rotate(180deg);
}

/* ******* 서브메뉴 ******* */
.submenu {
	 max-height: 0;
	transition: max-height 0.3s;
	transform: scaleY(0);
	transform-origin: top;
	border-radius: 10px;
	
}

.submenu a {
	display: block;
	padding: 10px 15px;
/* 	margin : 15px 0; */
	transition: background 0.3s;
	text-decoration: none;
	color: var(--subfont);
	
}

/* 서브메뉴 펼침 */
.menu-item.open .submenu {
	transform: scaleY(1);
	max-height: 500px;
	margin-left: 40px;
	padding-bottom : 8px;
}

/* 메뉴, 서브메뉴 hover */
.menu-item:hover, .menu-item.active {
	background-color: var(--hovermenu);
	border-radius: 10px;
}




/* 아이콘/글자색 */
.menu-item:hover .menu-link, 
.menu-item>.menu-link a:hover, 
.menu-item>.menu-link a.active,
.menu-item.active .menu-link a, 
.menu-item .submenu a:hover, 
.menu-item .submenu a.active,
.has-submenu.hover .menu-link, 
.menu-item.hover .menu-link .menu-text,
.menu-item.active .menu-link,
.menu-item.active .menu-link i,
.menu-item.active .menu-link 
.menu-text {
	color: var(--hoversubfont);
}

/* ==================================== 
	푸터                   
==================================== */
.copyRight {
	font-size: 12px;
	text-align: center;
	color: var(--footer);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease;
}


