@charset "UTF-8";

/* ==================================== */
/*	 헤더                                */
/* ==================================== */
.header {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.header .icon-btn {
    background: transparent;
	border: none;
	cursor: pointer;
}
.header .icon-btn i {
    font-size: 20px;
	color: rgba(75, 75, 75, 1);
	text-shadow: 0 0 0.5px rgba(75, 75, 75, 1);
	transition: color 0.2s ease;
    cursor: pointer;
}

/* 프로필 아이콘만 크게 */
.icon-btn[title="내 프로필"] i {
	font-size: 22px;
}

.header .icon-btn:hover i {
	color: var(--primary);
}

.header_button > button {
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background : #FFFFFF;
    color: var(--primary);
    margin-left: 10px;
    cursor: pointer;
}

.header_button > button:hover {
    background : var(--primary);
    color: var(--base);
}

.header_button > button:active {
    background : var(--clicked);
    border : 1px solid var(--clicked);
    color: var(--base);
}

