@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-display: swap;
}



select {
/*     width: 300px; */
    height : 30px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--innerbox);
    border-radius: 5px;
    text-align: center;
    margin: 0;
    outline: none;
}

label {
    display: flex;
    align-items: center;
}
input {
    outline: none;
    margin: 0;
    padding: 0;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
/*     -webkit-text-fill-color: #000; */
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
/*     -webkit-text-fill-color: #000; */
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--mainColor);
    margin-right: 5px;
}

input[type="text"] {
    padding: 5px 10px;
    border: 1px solid var(--innerbox);
    border-radius: 5px;
}

.text_readonly {
    cursor: default;
    color: gray;
}
input[type="text"]:read-only {
	cursor: default;
}

input[type="text"]:focus,
select:focus { 
	outline: none !important; 
	border: 1px solid #1EAE69 !important;
	box-shadow: 0 0 0 4px rgba(20, 184, 145, 0.25); 
}


input[type="text"]:read-only:focus {
    border: 1px solid #e9e9e9 !important;
    transition: none;
    box-shadow: none;
}

textarea {
    resize: none;
    padding: 5px;
    outline: none;
}

span.reqired_write {
    color: red;
}

hr {
    width: 100%; /* 또는 원하는 px */
    height: 1px; /* 두께 */
    border: none; /* 기본 border 제거 */
    background: var(--innerbox); /* 선 색상 */
}
/* **************************** */
/* 버튼 기본 스타일              */
/* **************************** */
button {
    font-family: "Pretendard";
    font-size: 14px;
}

.btn {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--innerbox);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn.first_btn {
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    color: white;
}

.btn.first_btn:active {
    border: 1px solid var(--clicked);
    background-color: var(--clicked);
}

.btn.second_btn {
    border: 1px solid var(--mainColor);
    background-color: white;
    color: var(--mainColor);
}

.btn.second_btn:active {
    background-color: var(--subColor);
}

.button_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.button_wrap {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px auto 0;
}

.action_btn {
    height: 40px;
    padding: 5px 20px;
}

.search_btn {
    width: 80px;
}

/* ********************* */
/*        */
/* ********************* */
.title_font {
    font-size: 16px !important;
}
