@charset "UTF-8";
@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-display: swap;
}

:root {
    --sidebar: #040303;	/* 사이드바 색상 : 검은색 */
    --base: #FFFFFF;	/* 메뉴 폰트 색상 : 흰색 */
    --hovermenu: #F4F9FD;	/* hover 메뉴 색상 : 연하늘 */
    --subfont: #040303;		/* 서브메뉴 폰트 색상 : 검은색 */
    --hoversubfont :#0C8CE9; /* hover 서브메뉴 폰트 색상 : 파란색 */
    --footer: #999;	/* 푸터 폰트 색상 : 진한 회색 */
    	
    --mainColor : #0C8CE9;	/*  파란색 */
    --subColor : #F4F9FD;	/* 연하늘 */
    --clicked: #0c63c2;	/* 진한 파란색 */
     
    --innerbox: #e3e3e3;
    --outerbox: #d9d9d9;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    font-size: 14px;
    cursor: default;
    line-height: 1.5;
}

.container {
    display: flex;
}

/* ==================================== */
/*	 메인컨텐츠                            */
/* ==================================== */
.main {
    flex: 1;
    background-color: var(--base);
    transition: all 0.3s;
}

main {
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
}
