@charset "UTF-8";

#toast {
	max-width: 350px;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%) translateY(-10px);
	opacity: 0;
	pointer-events: none; /* 클릭 막기 */
	visibility: hidden;
	z-index: 9999999;
}

/* 부드럽게 내려옴 */
@keyframes toastSlideSoftFade {
	0% {
		transform: translateX(-50%) translateY(-30px);
		opacity: 0;
	}
	20% {
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
	70% {
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-30px);
		opacity: 0;
	}
}

#toast.show {
	animation: toastSlideSoftFade 3s cubic-bezier(0.25, 1, 0.5, 1);
	visibility: visible;
}

.alert {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	border-radius: 12px;
	padding: 5px 16px;
	min-width: 300px;
}

.alert-icon {
	font-size: 20px;
	flex-shrink: 0;
}

.alert-content {
	flex: 1;
}

.alert-title {
	margin: 0 0 4px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0;
}

.alert-message {
	overflow: hidden;
	color: #1E2124;
	text-overflow: ellipsis;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
}

/* 유형별 색상 */
.alert--error {
	background: #FFF2F2;
	border: 1px solid #F5C2C7;
	color: #B02A37;
}

.alert--warning {
	background: #FFF3DB;
	border: 1px solid #FFE0A3;
	color: #8A5C00;
}

.alert--success {
	background: #EAF6EC;
	border: 1px solid #D8EEDD;
	color: #267337;
}

.alert--info {
	background: #E7F4FE;
	border: 1px solid #D3EBFD;
	color: #096AB3;
}