@charset "UTF-8";

.brandDetail-page {
	display: flex;
	width: 1440px;
	flex-direction: column;
	align-items: center;
	gap: 81px;
	margin-top:60px;
}

.main-content {
	width: 1080px;
	height: auto;
}

.upper-container {
	display: flex;
	width: 1000px;
	height: 948px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 91px;
}

.brand-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	align-self: stretch;
}

.brand-title {
	display: flex;
	width: 337px;
	flex-direction: column;
	align-items: center;
	gap: 31px;
}

h1 {
	color: #757575;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
	letter-spacing: -0.96px;
	margin: 0 auto;
}

.span-wrapper {
	display: flex;
	padding: 4px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
	font-size: 14px;
	color: #666;
}

/* 브랜드 이미지 영역 */
.brand-image {
	content: "";
	width: 980px;
	height: 320px;
	background-color: #ddd;
	display: block;
}

/* 브랜드 소개 텍스트 */
.intro-wrapper {
	display: flex;
	width: 567px;
	height: 107px;
	flex-direction: column;
	justify-content: center;
	color: #000;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	text-align: center;
	font-size: 16px;
	line-height: 140%;
}

.brand-promotion {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 163px;
}

.coupon-download {
	display: flex;
	width: 243.16px;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}

.product-section {
	display: flex;
	width: 1080px;
	flex-direction: column;
	align-items: flex-start;
	gap: 37px;
}

.filter-boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	align-self: stretch;
}

.category-wrapper {
	display: flex;
	align-items: center;
	align-self: stretch;
}

.sortlist-wrapper {
	display: flex;
	height: 74px;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

/* 상품 카드 그리드 (3개씩) */
.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;
	width: 100%;
}

.pagination-wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 7;
}