@charset "UTF-8";

.page-btn {
	border-radius: 0 !important;
	font-weight: 400 !important;
}

.page-btn.active {
	border: 1px solid #111 !important;
	color: #fff !important;
	background: #111 !important;
	font-weight: 500 !important;
}

.page-btn:hover:not(.active):not(.disabled) {
	color: #111 !important;
}

.main-content {
	width: 1020px;
	padding: 80px 0 40px 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0 auto;
}

.upper-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brand-favorite {
	display: flex;
	align-items: center;
}

.brand-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	align-self: stretch;
}

.brand-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	    width: 1020px;
    margin: 0 auto;
}

.heart-btn.icon-only {
	flex-direction: row;
	gap: 10px;
}

h1 {
	color: #222;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -0.96px;
	margin: 0 auto;
}

.span-wrapper {
	display: flex;
	padding: 4px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
	font-size: 14px;
	color: #666;
}

/* 브랜드 소개 텍스트 */
.intro-wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	color: #111;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	text-align: center;
	font-size: 18px;
	line-height: 140%;
	padding: 20px 0;
}

.brand-promotion {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 163px;
}

.product-section {
	display: flex;
	width: 1020px;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

/* 상품 카드 4열 x 여러 줄 */
.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 46px;
	row-gap: 60px;
	padding: 30px 0;
}

.page-pagination {
	display: flex;
	justify-content: center;
}