@charset "UTF-8";

.page-header-wrapper {
	background: #F2EBF1;
}

.page-header-wrapper>* {
	width: 1020px;
	margin: 0 auto;
}

.main-content {
	width: 1020px;
	margin: 40px auto;
}

/* 상품명 열은 왼쪽 정렬 */
.table .product-name {
	text-align: left;
}

/* 총 결제 예상금액 스타일 */
.cart-summary {
	margin: 30px 0;
	text-align: right;
	background: #FAFAFA;
	display: flex;
	height: 94px;
	padding: 20px;
	justify-content: flex-end;
	align-items: center;
	align-self: stretch;
}

.total-amount {
	font-size: 25px;
	font-weight: 600;
	color: #000;
	line-height: 150%; /* 42px */
	letter-spacing: 0.16px;
}

/* 버튼 컨테이너 */
.button-container {
	display: flex;
	gap: 11px;
	justify-content: center;
}

.button-container button {
	width: 300px;
}

/* 액션 버튼들 */
.action-buttons {
	display: flex;
	gap: 8px;
}

/* 수량 입력 */
.quantity-input {
	width: 60px;
	height: 32px;
	border: 1px solid #E5E7EB;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
}

/* 선택 박스 스타일 */
.select-all-container {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.select-all-container button {
	width: 105px;
	display: flex;
	align-items: center;
    justify-content: center;
}