@charset "UTF-8";

.page-btn {
	border-radius: 0 !important;
	font-weight: 400 !important;
}

.page-btn.active {
	border: 1px solid #111 !important;
	color: #fff !important;
	background: #111 !important;
	font-weight: 500 !important;
}

.page-btn:hover:not(.active):not(.disabled) {
	color: #111 !important;
}

.page-header-wrapper {
	background: #F2EBF1;
	padding: 0 210px;
	margin-bottom: 30px;
}

.page-header-wrapper>* {
	width: 1020px;
	margin: 0 auto;
}

/* 브랜드 타이틀 */
.brand-title {
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 12px;
	font-size: 22px;
	font-weight: 700;
	color: #222;
	width: 1020px;
	margin: 10px 0;
	padding: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	background: linear-gradient(90deg, #fef6f8 0%, #ffffff 100%);
}

/* 브랜드 로고 */
.brand-title img {
	width: 40px;
	height: auto;
	object-fit: contain;
}

.brand-coupon-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 60px;
	row-gap: 60px;
	padding: 10px 0 50px 0;
}