@charset "UTF-8";

.event-detail {
	max-width: 630px;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

.event-detail img {
	display: block;
	width: 100%;
	height: auto;
}

/* 이벤트 상품 */
.event-products {
	width: 1020px;
	margin: 0 auto;
	padding: 40px 0;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 46px;
	row-gap: 60px;
}

.btn-primary {
	background: #111;
}

.btn-primary:hover {
	background: #333;
}

.btn-outline {
	border: 1px solid #222;
	color: #111;
}

.btn-outline:hover {
	background: #eee;
}

.btn {
	border-radius: 0;
	font-weight: 400;
	padding: 0;
}

.brand-section {
	margin-bottom: 40px;
}

.brand-title {
	font-size: 22px;
	color: #111;
	font-weight: 500;
	height: 100px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 30px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,
		/* 맨 위 완전 흰색 */
  rgba(255, 255, 255, 0.98) 10%, /* 거의 흰색 */
  rgba(254, 249, 251, 0.9) 25%, /* 흰색에 살짝 핑크기 */
  rgba(253, 242, 246, 0.8) 45%, /* 아주 연한 핑크 중심 */
  rgba(253, 242, 246, 0.8) 55%, /* 부드럽게 유지 */
  rgba(254, 249, 251, 0.9) 75%, /* 다시 흰빛 복귀 */
  rgba(255, 255, 255, 0.98) 90%, /* 거의 흰색 */
  rgba(255, 255, 255, 1) 100% /* 맨 아래 완전 흰색 */  
);
}