@charset "UTF-8";

.event-detail {
	max-width: 630px;
	padding: 20px 0 30px 0;
	margin: 0 auto;
}

.event-detail img {
	display: block;
	width: 100%;
	height: auto;
}

/* 이벤트 상품 */
.event-products {
	width: 1020px;
	margin: 0 auto;
	padding: 0 0 40px 0;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
	row-gap: 60px;
}