@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* findAccount.css - 아이디/비밀번호 찾기 페이지 스타일 */

.main-content {
	display: flex;
	padding: 40px 0;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	width: 100%;
	box-sizing: border-box;
}


.page-title {
    color: #000;
    text-align: center;
    font-family: 'Noto Sans KR', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

/* 탭 */
.find-tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	margin: 0 0 36px 0;
}

.tab-btn {
	display: flex;
	padding-bottom: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 0;
	border-bottom: 1.5px solid #979797;
	color: #444;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.28px;
}

.tab-btn.active {
	border-bottom: 1.5px solid #0C8CE9;
	color: #0C8CE9;
	font-weight: 700;
}

/* 패널 */
.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}

.btn-primary.findAccount {
	width: 100%;
	margin: 28px 0 20px 0;
}