@charset "UTF-8";

.text-input {
	border-radius: 0;
}

.text-input:focus {
	border: 1px solid #222 !important;
	box-shadow: none;
}

.login-container {
	max-width: 380px;
	margin: 100px auto;
	text-align: center;
}

.login-title {
	margin: 60px 0;
	text-align: center;
	color: #000;
	font-size: 28px;
	font-weight: 400;
	line-height: 140%;
}

/* 입력 그룹 스타일 */
.auth-form .input-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.auth-form .form-group {
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	align-self: stretch;
}

.auth-form label {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.091px;
}

/* 옵션 영역 */
.form-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0 0 0;
	color: #464646;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.08px;
	color: #464646;
}

.form-options p {
	display: flex;
	align-items: flex-start;
	gap: 4px;
}

.form-options .link {
	color: #464646;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.08px;
	text-decoration: none;
}

.form-options .link:hover {
	text-decoration: underline;
}

.btn.login {
	width: 380px;
	height: 56px;
	margin: 30px 0 10px 0;
}

.btn.signup {
	width: 100%;
	margin: 0;
}

/* 가입 링크 */
.auth-footer {
	color: #333;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.08px;
}

.auth-footer .link {
	font-weight: 500;
	color: #111;
}

/* 카카오 로그인 버튼 */
.kakao-login-btn {
	width: 380px;
	height: 56px;
	padding: 0;
	background-color: #fee500;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

/* 이미지 아이콘 사용 */
.kakao-icon {
	width: 30px;
	height: 30px;
}

.kakao-login-btn:hover {
	opacity: 0.9; /* 마우스 오버시 살짝 투명하게 */
	transform: translateY(-1px); /* 살짝 위로 올라오는 효과 */
}

.kakao-login-btn:active {
	transform: translateY(0); /* 클릭시 원래 위치로 */
	opacity: 0.8;
}

.btn-primary {
	background: #111;
}

.btn-primary:hover {
	background: #333;
}

.btn-outline {
	border: 1px solid #222;
	color: #111;
}

.btn-outline:hover {
	background: #eee;
}

.btn {
	border-radius: 0;
	font-weight: 400;
	padding: 0;
}