@charset "UTF-8";
.banner {
  position: relative;
  width: 100%;   
  height: 430px;  
  overflow: hidden;
  margin-bottom: 30px;
}

/* 슬라이드 묶음 */
.banner .slides {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 개별 슬라이드 */
.banner .slide {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;       
}

.banner .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

/* 현재 보이는 슬라이드 */
.banner .slide.active {
  display: block;
}

/* 네비게이션 버튼 (좌우 화살표) */
.banner .prev,
.banner .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 32px;
  border-radius: 50%;
  z-index: 2; 
}

.banner .prev { left: 20px; }
.banner .next { right: 20px; }


/* 인디케이터 (dots) */
.banner .dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* dot 스타일 */
.banner .dot {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner .dot.active {
  background: #111;
}
