@charset "UTF-8";

.container {
	width: 1020px;
	margin: 40px auto 0;
	display: flex;
	gap: 30px;
	align-items: flex-start;
}

.main-content {
	flex: 1;
	width: 824px;
	display: flex;
	flex-direction: column;
	align-items: stretch; /* 자식 요소들이 전체 너비를 차지하도록 */
}

/* 섹션 공통 스타일 */
.main-content section {
	width: 100%;
}

.myCoupoint-title {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin: 0;
	padding: 30px 0 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coupon-section {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 18px;
}

.coupon .btn {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 포인트 섹션 */
.point {
	width: 100%;
}

/* 중간 구분선 */
.middle-devider {
	display: flex;
	padding: 30px 0 0 0;
    margin-bottom: 20px;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

/* 테이블 wrapper */
.table-wrapper {
	width: 100%;
	overflow-x: auto;
}

#coupon-zone {
	display: flex;
	width: 167px;
	height: 56px;
	padding: 12px 28px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}

.pagination-wrapper {
	text-align: center;
}