@charset "UTF-8";

.container {
	width: 1020px;
	margin: 40px auto 0;
	display: flex;	
	gap: 30px;
	align-items: flex-start;
}

/* Main Content Area */
.main-content {
	flex: 1;
	width: 824px;
	display: flex;
	flex-direction: column;
	align-items: stretch; /* 자식 요소들이 전체 너비를 차지하도록 */
}

.main-content>* {
	width: 100% !important; /* 부모(824px)의 100% */
	max-width: none !important;
}

.more-link {
	color: #AAA;
	font-weight: 400;
	line-height: 150%; /* 22.5px */
	letter-spacing: 0.085px;
	text-decoration: none;
	font-size: 15px;
}

/* Product Section */
.product-section {
	margin-bottom: 40px;
}

.section-header {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.section-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 150%; /* 33px */
	letter-spacing: 0.125px;
	color: #333;
}

/* 상품 카드 그리드 (3개씩) */
.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 30px;
	gap: 20px;
	width: 100%;
	gap: 20px
}

/* 공통 */
.product-grid .product-card {
	background: #fff;
}