@charset "UTF-8";


.container {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     gap: 30px;
     padding: 30px 20px;
     align-items: flex-start;
     }
        
/* Sidebar */
 .sidebar {
   width: 200px;
   background: white;
   padding: 20px;
   height: fit-content;
   flex-shrink: 0;
   }        

/* Main Content Area */
 .main-content {
    flex: 1;
    width: 824px;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* 자식 요소들이 전체 너비를 차지하도록 */
   }
   
 /* 내가 쓴 리뷰 테이블 */
 #my-review-table {
 width: 824px;
 height: 768px;
	
}
