@charset "UTF-8";

.page-btn {
	border-radius: 0 !important;
	font-weight: 400 !important;
}

.page-btn.active {
	border: 1px solid #111 !important;
	color: #fff !important;
	background: #111 !important;
	font-weight: 500 !important;
}

.page-btn:hover:not(.active):not(.disabled) {
	color: #111 !important;
}

.page-header-wrapper {
	background: #F2EBF1;
}

.page-header-wrapper>* {
	width: 1020px;
	margin: 0 auto;
}

.plan-container {
	width: 1020px;
	padding: 20px 0 40px 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0 auto;
}

/* 상품 카드 4열 x 여러 줄 */
.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 46px;
	row-gap: 60px;
}

.page-pagination {
	display: flex;
	justify-content: center;
}