@charset "UTF-8";

.page-btn {
	border-radius: 0 !important;
	font-weight: 400 !important;
}

.page-btn.active {
	border: 1px solid #111 !important;
	color: #fff !important;
	background: #111 !important;
	font-weight: 500 !important;
}

.page-btn:hover:not(.active):not(.disabled) {
	color: #111 !important;
}

section.exchange_container {
	width: 50%;
	/* 	border: 1px solid #ddd; */
	margin: 0 auto;
}

section.exchange_container h1, section.exchange_container h3 {
	margin: 20px 0;
}

section.exchange_container h5 {
	margin: 20px 0;
	width: 150px;
}

.exchange_main .pd_table, .exchange_main .exchange_reason {
	width: 100%;
}

.table-wrapper table tr td:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 30px;;
	width: 100%;
	height: 100%;
}

.pd_info {
	display: flex;
	align-items: center;
}

.pd_info .pd_img {
	width: 50px;
	aspect-ratio: 1/1;
	border: 1px solid #ddd;
	height: 100%;
	margin: 10px;
}

.pd_info .pd_img img {
	width: 50px;
	aspect-ratio: 1/1;
}

.pd_info .pd_name {
	text-align: left;
}

.exchange_reason .reason_box, .reInfo_box {
	border: 1px solid #E5E7EB;
	border-radius: 10px;
	width: 100%;
	padding: 50px;
	display: grid;
	gap: 10px;
}

.reason_box .r_select, .reason_box .r_write, .reason_box .img_att {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.reason_box .r_write {
	border: 1px solid #E5E7EB;
	border-radius: 10px;
	width: 100%;
	height: 100px;
	padding: 10px;
}

.reason_box .img_att, .reInfo_select, .reInfo_write, .reInfo_phone,
	.reInfo_addr, .reInfo_addr .addr_btn, .reInfo_addr .addr_content {
	display: flex;
	align-items: center;
	width: 100%;
}

.reason_box .img_att, .reInfo_addr .addr_btn, .reInfo_addr .addr_content
	{
	gap: 10px;
	margin-bottom: 5px;
}

.reInfo_addr>div, .reInfo_addr>div>div.addr_content {
	width: 85%;
}

.reInfo_addr>div>div.addr_content {
	width: 100%;
}

.phone_no {
	width: 25%;
}

.reInfo_write>div {
	width: 30%;
}


.exchange_btn {
	display : flex;
	margin : 30px auto;
	gap : 15px;
	
}

.exchange_btn {
	display : flex;
	justify-content: center;
	margin : 30px auto 100px;
	gap : 15px;
}
.exchange_btn button {
	width : 130px !important;
}




.reqired {
	color: red;
}

.nbsp {
	margin: 0 5px;
}

textarea {
	width: 100% !important;
	resize: none;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 100%;
}