@charset "UTF-8";

/* 탭 컨테이너 */
.tab-container {
	display: flex;	
	gap: 0px;
	height: 50px;
	align-items: center;
	background: #f9f9f9;
	padding: 2px;
	border-radius: 0px;
}

/* 탭 아이템 기본 스타일 */
.tab-item {
	height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease;
	color: #777;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	white-space: nowrap;
	outline: none;
}

/* 탭 호버 효과 */
.tab-item:hover {
	color: #374151;
}

/* 활성화된 탭 스타일 */
.tab-item.active {
	background-color: rgba(156, 46, 245, 0.10);;
	color: #111;
	font-weight: 500;
}