@charset "UTF-8";

.pageHeader-wrapper {
	background: #F2EBF1;
}

.pageHeader-wrapper>* {
	width: 1020px;
	margin: 0 auto;
}

.main-content {
	width: 1020px;
	margin: 40px auto;
}


.inquiry-type {
	display: flex;
	padding: 20px 0;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.inquiry-type label {
	min-width: 150px;
}

.order-number {
	display: flex !important;
	padding: 20px 0;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.order-number label {
	min-width: 150px;
}

.write-form {
	display: flex;
	padding: 20px 0;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.write-form label {
	min-width: 150px;
}

.upload-image {
	display: flex;
	padding: 20px 0;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.upload-image label {
	min-width: 150px;
}

.action-button {
	display: flex;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.action-button button {
	width: 200px;
}