@charset "UTF-8";

.main-content {
	display: flex;
	padding: 40px 210px;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	width: 100%;
	box-sizing: border-box;
}

.inquiry-type {
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.order-number {
	display: flex;
	width: 497px;
	height: 54px;
	align-items: center;
}

.write-form {
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.upload-image {
	display: flex;
	padding: 20px 0 20px 150px;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.action-button {
	display: flex;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}