@charset "UTF-8";

.page-container {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

/* breadcrumb */
.page-breadcrumb {
	display: flex;
	padding: 8px 24px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

/* 페이지 헤더 */
.page-header {
	display: flex;
	padding: 8px 24px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

.page-header h2 {
	color: #000;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.product-form {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 56px;
}

.form-section h3 {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 24px 0;
}

/* label + input 섹션 */
.form-group {
	width: 800px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

/* label */
.form-group label {
	min-width: 120px;
	text-align: left;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.091px;
	white-space: nowrap;
	box-sizing: border-box;
}

.form-group p {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.091px;
}

.form-group span {
	color: #7D7D7D;
}

/* label + 라디오 버튼 그룹 */
.form-group.radio {
	height: 54px;
}

/* label + 이미지 버튼 그룹 */
.form-group.image {
	padding: 16px 0;
}

.image-group-wrapper {
	display: flex;
	gap: 60px;
}
/* label + tag 그룹 */
.form-group.tag {
	height: 54px;
	display: flex;
	justify-content: flex-start;
}

/* label + chip 그룹 */
.form-group.chip-wrapper {
	height: 54px;
	display: flex;
	justify-content: flex-start;
}

/* 맞춤필터링 그룹 */
.form-filter {
	display: flex;
	padding: 24px 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
}

/* 이미지 그룹 */
.form-image-group {
	display: flex;
	align-items: center;
	gap: 4px;
}

/* 상품 수정 모드일 때 필수 표시 안 보이게 */
.edit-mode .required {
	display: none;
}

.required {
	color: #FF1D1D !important;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.091px;
}

.chip {
	display: inline-block;
	padding: 2px 8px;
	background: #F1F9FF;
	color: #2264E5;
	font-size: 14px;
	font-weight: 500;
	border-radius: 4px;
	white-space: nowrap;
}

.form-actions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	width: 100%;
}

/* 임의 margin */
.form-group-br {
	margin: 20px 0;
}

/******* 맞춤 필터링 *******/
/* 그룹 (라벨 + 옵션) */
.filter-group {
	display: flex;
	width: 100%;
	align-items: center;
	align-self: stretch;
}

/* 좌측 라벨 */
.filter-label {
	min-width: 120px;
	text-align: left;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.091px;
	white-space: nowrap;
	box-sizing: border-box;
}

/* 옵션 영역 */
.filter-options {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

/* 스크롤바 숨김 */
.filter-options::-webkit-scrollbar {
	display: none;
}

.filter-options {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* 필터 버튼 (기본 상태) */
.filter-option {
	display: flex;
	height: 32px;
	padding: 2px 12px;
	justify-content: center;
	align-items: center;
	border-radius: 9999px;
	border: 1px solid #CDD1D5;
	background: #FFF;
	transition: all 0.2s ease;
	color: #1E2124;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	white-space: nowrap;
}

/* hover 상태 */
.filter-option:hover {
	background: #EEF2F7;
	border-color: #EEF2F7;
}

/* active(선택됨) 상태 */
.filter-option.active {
	background: #D6E0EB;
	border-color: #D6E0EB;
}

.text-input[readonly] {
	opacity: 1 !important;
    cursor: default !important;
    border-color: #f1f1f1 !important;
}

.text-input[readonly]:focus {
	 border-color: #f1f1f1 !important;
}