/* 스크롤 막고 전체 화면 채우기 */
html, body {
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	background: #f8f9fb;
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

.layout-content {
	height: 100%;
	overflow: hidden;
}

/* breadcrumb */
.page-breadcrumb {
	display: flex;
	padding: 8px 24px;
	flex-direction: column;
	align-items: flex-start;
}

.settlement-dashboard {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 8px 24px;
	box-sizing: border-box;
	gap: 24px;
	height: 100%;
}

/* 상단 섹션 */
.top-section {
	display: grid;
	grid-template-columns: 2fr 1fr; /* 좌측 카드, 우측 도넛차트 */
	gap: 24px;
	height: fit-content;
}

/* 카드 영역: 2행 2열 */
.cards-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 16px;
	height: fit-content;
}

.card-item {
	display: flex;
	align-items: center;
	gap: 12px;
	background: #fff;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	height: 100px;
	box-sizing: border-box;
}

.card-item i {
	font-size: 28px;
	color: #f9c74f;
	background: rgba(255, 245, 217, 0.8);
	padding: 14px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-label {
	font-size: 14px;
	color: #777;
}

.card-value {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-top: 3px;
}

/* 도넛 차트 */
.donut-chart {
	background: #fff;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 216px;
	box-sizing: border-box;
}

.donut-chart canvas {
	height: 100% !important;
}

.chart-title {
	color: #333;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#donutChart {
	width: 100%;
	height: 250px;
}

.chart-legend {
	display: flex;
	gap: 16px;
	margin-top: 12px;
	font-size: 14px;
	color: #555;
}

.legend-color {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	margin-right: 6px;
}

.legend-color.green {
	background: #a3e635;
}

.legend-color.blue {
	background: #93c5fd;
}

.legend-color.pink {
	background: #f9a8d4;
}

/* 하단 섹션 */
.bottom-section {
	background: #fff;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	height: 380px;
	display: flex;
	flex-direction: column;
}

.bottom-section #barChart {
	width: 100%;
	flex: 1; /* 남는 공간 다 차지 */
}