@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-display: swap;
}

.modal {
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    font-family: "Pretendard";
}

.hidden {
    display: none;
}
/* ****************************
    정보수정 & 로그아웃 팝업
****************************** */
div.modal.loginInfo {
    width: 205px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    background-color: white;
    /* gap: 5px; */
    position: absolute;
    top: 40px;
    right: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info > img {
    width: 40px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 2px;
}

.info > span {
    line-height: 50%;
    cursor: default;
    /* font-family: "Pretendard"; */
}
.modifyInfo,
.logout {
    width: 95%;
}
.modifyInfo > button {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.logout > button {
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.modifyInfo > button:hover,
.logout > button:hover {
    background-color: #d9d9d9;
}
/* 정보수정 & 로그아웃 팝업 end */

/* ****************************
    검색창 팝업
****************************** */
.modal_search_box {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 750px;
    padding: 10px;

    gap: 5px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    position: fixed; /* 부모가 아닌 화면(viewport) 기준 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.modal.modal_search_box > .modal_title {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

div.modal.modal_search_box > .search_container {
    margin: 5px 15px 15px;
}

div.modal.modal_search_box .whole_table .table_wrap table {
    min-width: 100%;
}
